{% load staticfiles %}
<html>
    <head>
        <title>Car Pool Management</title>
        <style>
        * {
          font-family: 'Helvetica';
          color:#333333;
        }

        .login {
          height:30%;
          background-color: #00004C;
          margin-left: 40%;
          margin-right:40%;
          margin-top:5%;
        }
        .topContent {
            display: inline;
            background-color: #3E3F44;
            font-family: 'Helvetica';
            font-size: 1.25em;
            display: block;
            text-decoration: none;
        }

        </style>
    </head>
    <div class= "topContent">
      <h1>Car Pool</h1>
      <h1>Management</h1>
      <h1>System</h1>
      <hr>
    <body class= "login" >
      <h2>Login</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
      </form>
    </div

    </body>
    </html>
