{% extends 'car_pool/base.html' %}

{% block content %}

    <h1 id="pageHeader"> Admin </h1>
    <p> This is the admin section of the website, to be used of internal
        maitance of the website<p>
    <a href="{% url 'staff_list' %}">List of Staff</a><br>

    <br>
    <a href="{% url 'school_list' %}">List of school</a><br>
    <a href="{% url 'school_new' %}">Add a new school</a><br>
    <br>
    <a href="{% url 'faculty_list' %}">List of faculties</a><br>
    <a href="{% url 'faculty_new' %}">Add a new faculty</a>

{% endblock %}
