{% load staticfiles %}
<html>
    <head>
        <title>Car Pool Management</title>
    </head>
    <body>
    <div class="topNav">
        <h1><a href="/">Car Pool Management</a></h1>
        <a href="{% url 'journey_new' %}">new_journey</a>
        <a href="{% url 'journey_list' %}">journey_list</a>
        <a href="{% url 'reports' %}">reports</a>
        <a href="{% url 'internal_admin' %}">admin</a>
    </div>
            {% block content %}
            {% endblock %}
    <div class="bottomNav">
    </div>
   </body>
</html>
