{% extends 'car_pool/base.html' %}

{% block content %}
  <h1><a href="{% url 'journey_detail' pk=journey.pk %}">
    From {{journey.origin}} to {{journey.destination}}</a></h1>
    <h2>Reason:</h2> <h3>{{journey.reason}}</h3><br>
    <h2>Driver:</h2> <h3>{{journey.car.driver}} (school of {{journey.car.driver.schoolOfWork}})</h3><br>
    <h2>Car:</h2> <h3>{{ journey.car }}</h3><br>
    <h2>Number of seats:</h2> <h3>{{journey.available_seats}}</h3><br>
    <h2>Staring:</h2> <h3>{{ journey.origin }}</h3><br>
    <h2>Traveling to:</h2> <h3>{{ journey.destination }}</h3><br>
    <h2>Date:</h2> <h3>{{ journey.dateOfJourney }}</h3><br>
    <h2>Departing at:</h2> <h3>{{ journey.departureTime }}</h3><br>
    <h2>Estimated arrival time:</h2> <h3>{{ journey.arrivalTime }}</h3><br>
    <h2>distance:</h2> <h3>{{ journey.distance }}m</h3><br>
    <h2>cost per passenger:</h2> <h3>£{{ journey.cost_per_person|floatformat:2 }}</h3><br>
    <h2>total cost:</h2><h3>£{{ journey.total_cost|floatformat:2 }}</h3><br>

    <h1>{{passenger_list}}</h1>

    {% if request.user.staff in staffids%}
      <h3>You have already booked a seat for this journey</h3>
    {% elif request.user.staff == journey.car.driver %}
      <a href="{% url 'journey_edit' pk=journey.pk %}" class= "btn btn-info" role="button" >edit journey</a>
    {% else %}
      <a href="{% url 'journey_booked' pk=journey.pk %}" class= "btn btn-info" role="button" >book seat</a>
    {% endif %}
{% endblock %}
