{% extends 'car_pool/base.html' %}

{% block content %}
  <h1>You have cancelled your booking on the following journey:</h1>
  <h1><a href="{% url 'journey_detail' pk=journey.pk %}">
    From {{journey.origin}} to {{journey.destination}}</a></h1>
    <h2>Reason:</h2> <h3>{{journey.reason}}</h3><br>
    <h2>Car:</h2> <h3>{{ journey.car }}</h3><br>
    <h2>Number of seats:</h2> <h3>{{journey.available_seats}}</h3><br>
    <h2>Starting:</h2> <h3>{{ journey.origin }}</h3><br>
    <h2>Travelling to:</h2> <h3>{{ journey.destination }}</h3><br>
    <h2>Date:</h2> <h3>{{ journey.dateOfJourney }}</h3><br>
    <h2>Departing at:</h2> <h3>{{ journey.departureTime }}</h3><br>
    <h2>Estimated arrival time:</h2> <h3>{{ journey.arrivalTime }}</h3><br>


{% endblock %}
