{% extends 'car_pool/base.html' %}

{% block content %}

    <h1> Reports </h1>

    <div class='links'>
    <h3>View reports for: </h3><br>
    <a href="{% url 'reports' pk=1 %}">My report</a>
    {% if request.user.staff.headOfSchool == True %}
    <a href="{% url 'reports' pk=2 %}">My school reports</a>
    {% endif %}
    {% if request.user.staff.head0fFaculty == True %}
    <a href="{% url 'reports' pk=3 %}">My faculty reports</a>
    {% endif %}
    {% if request.user.staff.uniManagement == True %}
    <a href="{% url 'reports' pk=4 %}">University reports</a><br>
    {% endif %}
    </div>

    <div class = 'journey' >
    <h3>Name:</h3> <h2>{{request.user}}</h2><br>
    <h3>School:</h3> <h2>{{ request.user.staff.schoolOfWork }}</h2><br>
    <h3>Driver:</h3> <h2>{{ request.user.staff.driver }}</h2>
    </div>

    <table border="1" >
      <tr>
        <th>Travelled on:</th>
        <th>Driven for:  </th>
        <th>Passenger for: </th>

        <th>Total distance travelled:</th>
        <th>Distance {{request.user}} has driven: </th>
        <th>Distance {{request.user}} has been a passenger: </th>

        <th>Cost of these journeys without the system: </th>
        <th>Cost of these journeys with the system: </th>
        <th>Savings: </th>
      </tr>
            <tr>
              <td>{{ staff.total_traveled}} journey(s)</td>
              <td>{{ staff.driven_for }} journey(s)</td>
              <td>{{ staff.passenger_for }} journeys</td>

              <td>{{ staff.total_distance| floatformat:2 }}m </td>
              <td>{{ staff.distance_driven| floatformat:2}}m </td>
              <td>{{ staff.distance_passenger| floatformat:2 }}m </td>

              <td>£{{ staff.total_cost| floatformat:2  }} </td>
              <td>£{{ staff.reduced_cost| floatformat:2}} </td>
              <td>£{{ staff.saving| floatformat:2 }} </td>
            </tr>
    <table>

    <div class= "journey">
      <h2>List of {{request.user.staff}}'s journeys</h2></br>
      {% if request.user.staff.driver == True %}
      <h3>List of journeys where {{request.user}} is the driver:</h3></br>
        {% for journey in user_is_driver %}
          <a href="{% url 'journey_detail' pk=journey.pk %}">
          From {{journey.origin}} to {{journey.destination}} on {{journey.dateOfJourney}}</a></br>
        {% endfor %}
      {% endif %}

      <h3>List of journeys where {{request.user}} is a passenger: </h3></br>
      {% for journey in user_is_passenger %}
        <a href="{% url 'journey_detail' pk=journey.pk %}">
          From {{journey.origin}} to {{journey.destination}} on {{journey.dateOfJourney}}</a></br>
      {% endfor %}
    </div>
{% endblock %}
