{% extends 'car_pool/base.html' %}

{% block content %}

    <h1> Reports </h1>
    <div class='links'>
    <h3>View reports for: </h3><br>
    <a href="{% url 'reports' pk=1 %}">My report</a>
    {% if request.user.staff.headOfSchool == True %}
    <a href="{% url 'reports' pk=2 %}">My school reports</a>
    {% endif %}
    {% if request.user.staff.head0fFaculty == True %}
    <a href="{% url 'reports' pk=3 %}">My faculty reports</a>
    {% endif %}
    {% if request.user.staff.uniManagement == True %}
    <a href="{% url 'reports' pk=4 %}">University reports</a><br>
    {% endif %}
    </div>




    <div class = 'journey' >
    <h3>School:</h3> <h2>{{ request.user.staff.schoolOfWork }}</h2><br>
    <h3>Faculty:</h3> <h2>{{ request.user.staff.schoolOfWork.faculty }}</h2><br>
    </div>

    <table border="1" >
      <tr>
        <th>Travelled on:</th>
        <th>Driven for:  </th>
        <th>Passenger for: </th>

        <th>Total distance travelled:</th>
        <th>Distance staff from the school of {{request.user.staff.schoolOfWork}} have driven: </th>
        <th>Distance staff from the school of {{request.user.staff.schoolOfWork}} have been a passenger: </th>

        <th>Cost of these journeys without the system: </th>
        <th>Cost of these journeys with the system: </th>
        <th>Savings: </th>
      </tr>
            <tr>

              <td>{{ school.total_traveled}} journey(s)</td>
              <td>{{ school.driven_for }} journey(s)</td>
              <td>{{ school.passenger_for }} journeys</td>

              <td>{{ school.total_distance| floatformat:2 }}m </td>
              <td>{{ school.distance_driven| floatformat:2}}m </td>
              <td>{{ school.distance_passenger| floatformat:2 }}m </td>

              <td>£{{ school.total_cost| floatformat:2  }} </td>
              <td>£{{ school.reduced_cost| floatformat:2}} </td>
              <td>£{{ school.saving| floatformat:2 }} </td>
            </tr>
    <table>

<div class= "journey">
  <h2> Reports for staff in the school of {{school.schoolName}}: </h2>
</div>



<table border="1" >
  <tr>
    <th>Name: </th>
    <th>Travelled on:</th>
    <th>Driven for:  </th>
    <th>Passenger for: </th>

    <th>Total distance travelled:</th>
    <th>Distance staff member has driven: </th>
    <th>Distance staff member has been a passenger: </th>

    <th>Cost of these journeys without the system: </th>
    <th>Cost of these journeys with the system: </th>
    <th>Savings: </th>
  </tr>
        {% for staff in staff_list %}
        <tr>
          <td>{{ staff.user }} </td>
          <td>{{ staff.total_traveled}} journey(s)</td>
          <td>{{ staff.driven_for }} journey(s)</td>
          <td>{{ staff.passenger_for }} journeys</td>

          <td>{{ staff.total_distance| floatformat:2 }}m </td>
          <td>{{ staff.distance_driven| floatformat:2 }}m </td>
          <td>{{ staff.distance_passenger|floatformat:2}}m </td>

          <td>£{{ staff.total_cost| floatformat:2  }} </td>
          <td>£{{ staff.reduced_cost| floatformat:2}} </td>
          <td>£{{ staff.saving| floatformat:2 }} </td>
        </tr>
        {% endfor %}
<table>
{% endblock %}
