
{% extends 'car_pool/base.html' %}
{% block content %}
<h1>List of Schools</h1>
<a href="{% url 'school_new' %}">Add a new School</a>
<table border="1" >
  <tr>
    <th>Title</th>
    <th>Head of school school</th>
    <th>Faculty</th>
    <th>Edit </th>
  </tr>
      {% for school in school_list %}
      <tr>
        <td>{{ school.schoolName}}</td>
        <td>{{ school.headOfSchool}}</td>
        <td>{{ school.faculty}}</td>
        <td><a href="{% url 'school_edit' pk=school.pk %}">Edit School</a></td>
      </td></tr>
      {% endfor %}
<table>
{% endblock %}
