{% extends 'car_pool/base.html' %}

{% block content %}

    <h2> reports </h2>

    <a href="{% url 'reports' pk=1 %}">my report</a>
    <a href="{% url 'reports' pk=2 %}">my school reports</a>
    <a href="{% url 'reports' pk=3 %}">my faculty reports</a>
    <a href="{% url 'reports' pk=4 %}">University reports</a><br>

    <div class = 'journey' >
      <h2> Report for the entire university:</h2>
    </div>

    <table border="1" >
      <tr>
        <th>traveled on:</th>
        <th>driven for:  </th>
        <th>passenger for: </th>

        <th>total distance traveled</th>
        <th>distance all staff have driven </th>
        <th>distance all staff have been a passenger </th>

        <th>cost of these journeys without the system: </th>
        <th>cost of these journeys with the system: </th>
        <th> savings </th>
      </tr>
            <tr>

              <td>{{ uni.total_traveled}} journey(s)</td>
              <td>{{ uni.driven_for }} journey(s)</td>
              <td>{{ uni.passenger_for }} journeys</td>

              <td>{{ uni.total_distance| floatformat:2 }}m </td>
              <td>{{ uni.distance_driven| floatformat:2}}m </td>
              <td>{{ uni.distance_passenger| floatformat:2 }}m </td>

              <td>£{{ uni.total_cost| floatformat:2  }} </td>
              <td>£{{ uni.reduced_cost| floatformat:2}} </td>
              <td>£{{ uni.saving| floatformat:2 }} </td>
            </tr>
    <table>

<div class= journey>
<h2> Reports for idividual the faculties: <h2>
</div>
<table border="1" >
  <tr>
    <th>faculty name </th>
    <th>traveled on:</th>
    <th>driven for:  </th>
    <th>passenger for: </th>

    <th>total distance traveled</th>
    <th>distance staff in faculty have driven </th>
    <th>distance staff in faculty have been a passenger </th>

    <th>cost of these journeys without the system: </th>
    <th>cost of these journeys with the system: </th>
    <th> savings </th>
  </tr>
        {% for faculty in faculty_list %}
        <tr>
          <td>{{ faculty.facultyName }} </td>
          <td>{{ faculty.total_traveled}} journey(s)</td>
          <td>{{ faculty.driven_for }} journey(s)</td>
          <td>{{ faculty.passenger_for }} journeys</td>

          <td>{{ faculty.total_distance| floatformat:2 }}m </td>
          <td>{{ faculty.distance_driven| floatformat:2}}m </td>
          <td>{{ faculty.distance_passenger| floatformat:2 }}m </td>

          <td>£{{ faculty.total_cost| floatformat:2  }} </td>
          <td>£{{ faculty.reduced_cost| floatformat:2}} </td>
          <td>£{{ faculty.saving| floatformat:2 }} </td>
        </tr>
        {% endfor %}
<table>
{% endblock %}
