{% extends 'car_pool/base.html' %}

{% block content %}

    <h1> Reports </h1>
    <div class='links'>
    <h3>View reports for: </h3><br>
    <a href="{% url 'reports' pk=1 %}">My report</a>
    {% if request.user.staff.headOfSchool == True %}
    <a href="{% url 'reports' pk=2 %}">My school reports</a>
    {% endif %}
    {% if request.user.staff.head0fFaculty == True %}
    <a href="{% url 'reports' pk=3 %}">My faculty reports</a>
    {% endif %}
    {% if request.user.staff.uniManagement == True %}
    <a href="{% url 'reports' pk=4 %}">University reports</a><br>
    {% endif %}
    </div>

    <div class = 'journey' >
      <h2> Report for the entire university:</h2>
    </div>
    <table border="1" >
      <tr>
        <th>Travelled on:</th>


        <th>Total distance travelled:</th>
        <th>Distance all staff have driven: </th>
        <th>Distance all staff have been a passenger: </th>

        <th>Cost of these journeys without the system: </th>
        <th>Cost of these journeys with the system: </th>
        <th>Savings: </th>
      </tr>
            <tr>
              <td>{{ uni.total_traveled}} journey(s)</td>

              <td>{{ uni.total_distance| floatformat:2 }}m </td>
              <td>{{ uni.distance_driven| floatformat:2}}m </td>
              <td>{{ uni.distance_passenger| floatformat:2 }}m </td>

              <td>£{{ uni.total_cost| floatformat:2  }} </td>
              <td>£{{ uni.reduced_cost| floatformat:2}} </td>
              <td>£{{ uni.saving| floatformat:2 }} </td>
            </tr>
    <table>

<div class= journey>
<h2> Reports for idividual the faculties: <h2>
</div>
<table border="1" >
  <tr>
    <th>Faculty name: </th>
    <th>Travelled on:</th>
    <th>Driven for:  </th>
    <th>Passenger for: </th>

    <th>Total distance travelled:</th>
    <th>Distance staff in faculty have driven: </th>
    <th>Distance staff in faculty have been a passenger: </th>

    <th>Cost of these journeys without the system: </th>
    <th>Cost of these journeys with the system: </th>
    <th>Savings: </th>
  </tr>
        {% for faculty in faculty_list %}
        <tr>
          <td>{{ faculty.facultyName }} </td>
          <td>{{ faculty.total_traveled}} journey(s)</td>
          <td>{{ faculty.driven_for }} journey(s)</td>
          <td>{{ faculty.passenger_for }} journeys</td>

          <td>{{ faculty.total_distance| floatformat:2 }}m </td>
          <td>{{ faculty.distance_driven| floatformat:2}}m </td>
          <td>{{ faculty.distance_passenger| floatformat:2 }}m </td>

          <td>£{{ faculty.total_cost| floatformat:2  }} </td>
          <td>£{{ faculty.reduced_cost| floatformat:2}} </td>
          <td>£{{ faculty.saving| floatformat:2 }} </td>
        </tr>
        {% endfor %}
<table>
{% endblock %}
