  <link rel="stylesheet" href="{% static 'css/car_pool.css' %}">

* {
  font-family: 'Helvetica';
}


.topNav {
  height: 15%;
  margin-left: 0;
  overflow: hidden;
  background-color: #D3D3D3;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  display: block;
  padding: 16px;
}

.topContent {
    text-align: center;
}

.topContent h1 a {
    color: #3E3F44;
    font-family: 'Helvetica';
    font-size: 1.5em;
}

.topContent a {
    display: inline;
    color: #3E3F44;
    font-family: 'Helvetica';
    font-size: 1.25em;
    display: block;
    text-decoration: none;
}

ul {
  list-style-type: none;
  margin-left: 30%;
  padding: 0;
  overflow: hidden;
  background-color: #D3D3D3;
}

li {
   float: left;
}

.navbar a {
  display: block;
  color: #3E3F44;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
}

li a:hover {
    background-color: #FFF;
}

.content {
  margin-top: 15%; /* Add a top margin to avoid content overlay */
  margin-left: 20%;
  border:10px solid black;

}

.content h1 {
  color: #3E3F44;
  text-decoration: underline;
}

.content table {
    border-collapse: collapse;
}

.content table, th, td {
    border: 1px solid black;
}

.content th {
    background-color: #D3D3D3;
    color: #3E3F44;
}
